version: '3'
services:
  bpni:
    image: racefpv/bpni:latest
    container_name: bpni
    build: .
    environment:
      - ENV_NAME=development
      - BROWSE_INCREMENT=100
      - DB_URI=mongodb://database:27017/blueprintnotincluded
      - JWT_SECRET=anylongstringhere
      - CAPTCHA_SITE=localhost
      - CAPTCHA_SECRET=YOURCAPTCHASECRET
      - SMTP_HOST=mailhog
      - SMTP_PORT=1025
      - SMTP_FROM=noreply@blueprintnotincluded.com
    links:
      - "mongodb-bpni:database"
      - "mailhog:mailhog"
    depends_on:
      - mongodb-bpni
      - mailhog
    ports:
      - "3000:3000"
  mongodb-bpni:
    image: mongo:4.2
    container_name: mongodb-bpni
    environment:
      - "MONGO_INITDB_DATABASE=blueprintnotincluded"
    volumes:
      - ./mongo/docker-entrypoint-initdb.d/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    ports:
      - "27017:27017"
  mailhog:
    image: mailhog/mailhog
    container_name: mailhog-bpni
    ports:
      - "1025:1025"
      - "8025:8025"