<!DOCTYPE html>
<html lang="en">
<head>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Blueprint Not Included" />
  <meta property="og:description" content="A place to upload, build, and share your favourite blueprint designs for Oxygen Not Included." />

  <!-- Discord bot will respect "og:image:url" but needs a square image for small previews -->
  <meta property="og:image:url" content="/images/site-preview-large-square.png" />
  <meta property="ogimage:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="1200" />
  <meta property="og:image:alt" content="An example blueprint, shown against the website editor." />

  <!-- Discord bot will ignore "og:image:url" but can display a wide image -->
  <meta property="og:image" content="/images/site-preview-large-wide.png" />
  <meta property="ogimage:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="671" />
  <meta property="og:image:alt" content="An example blueprint, shown against the website editor, next to the blueprint not included logo." />
</head>
<body>
</body>
</html>
